<?xml version="1.0" encoding='utf-8'?>
<routes>
  <!-- //FrontEnd -->
  <route p="" controller="FrontController" action="index"/>
  <route p="article" controller="FrontController" action="show" params="id" />
  <!-- //Admin -->
  <route p="admin" controller="AdminController" action="index"/>
  <route p="post-comments" controller="AdminController" action="postComments"/>
  <route p="delete-comments" controller="AdminController" action="deleteComments" params="id"/>
  <route p="write-article" controller="AdminController" action="writePost"/>
  <route p="delete-article" controller="AdminController" action="deletePost" params="id"/>
  <route p="update-article" controller="AdminController" action="updatePost" params="id"/>
  <route p="userlist" controller="AdminController" action="userlist"/>
  <!-- Security -->
  <route p="login" controller="SecurityController" action="login"/>
  <route p="authentification" controller="SecurityController" action="authentification"/>
  <route p="profile" controller="SecurityController" action="profile"/>
  <route p="logout" controller="SecurityController" action="logout"/>
  <route p="signup" controller="SecurityController" action="signup"/>
  <route p="create-user" controller="SecurityController" action="createUser"/>
  <route p="update-user" controller="SecurityController" action="updateUser" params="id"/>
  <route p="delete-user" controller="SecurityController" action="deleteUser" params="id"/>
</routes>